<html>
    <head>
        <title>Django Girls Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>

        </div>
        <div>
            <p>published:09.30.2020, 1:30</p>
            <h1><a href="/">First Post</a></h1>
            <p>this is my first post, everything seems to be working nice.</p>
        </div>

        <div>
            <p>published:09.30.2020, 1:32</p>
            <h1><a href="/">Second Post</a></h1>
            <p>this is my second post, still sad from earlier but hey, at least I can work.</p>
        </div>
    </body>
</html>